/* #region general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: DM Sans;
  height: 100vh;
}
:root {
  --light_color: white;
  --main_color: #0057ff;
  --text_color: #134077;
  --danger_color: rgb(255, 66, 66);
}

/* #endregion general */

/* #region utilities */
/* todo: create a root */
.d_none {
  display: none;
}

.bg_white {
  background-color: var(--light_color);
}

.d_flex {
  display: flex;
}

.flex_column {
  flex-direction: column;
}

.align_items_center {
  align-items: center;
}

.justify_content_center {
  justify-content: center;
}

.justify_content_around {
  justify-content: space-around;
}
.text_center {
  text-align: center;
}
.btn {
  border: none;
  padding: 0.5rem;
  color: var(--light_color);
  border-radius: 10px;
  font-size: 10px;
}

.mb_1 {
  margin-bottom: 1rem;
}

.mt_1 {
  margin-top: 1rem;
}

.flex_wrap {
  flex-wrap: wrap;
}

.bg_delete {
  background-color: var(--danger_color);
}

.bg_edit {
  background-color: var(--main_color);
}

.bg_green {
  background-color: green;
}

.text_bold {
  font-weight: 700;
}

.px_2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.m_2 {
  padding: 2rem;
}

/* #endregion utilities */

/* #region header */
.app_header {
  height: 80px;
  margin-bottom: 4rem;
}

.logo {
  height: 60%;
  padding-left: 1rem;
}

.logo img {
  max-height: 100%;
}

.message {
  margin-left: 3rem;
  border-radius: 8px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  color: var(--light_color);
}

.error_message {
  border-radius: 8px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  color: white;
  background-color: var(--danger_color);
}

/* #endregion header */

/* #region main */
.box {
  width: 80%;
  border: 1px solid black;
  margin: auto;
  border-radius: 20px;
}

.title {
  color: var(--text_color);
  text-align: center;
  font-style: normal;
  line-height: 99.5%;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.input {
  margin-top: 1rem;
  border: none;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  width: 100%;
}

.label {
  margin-top: 2rem;
}

.input_submit {
  margin-top: 3rem;
  border: none;
  padding: 1rem;
  color: var(--light_color);
  background: var(--main_color);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.box_footer {
  margin-bottom: 1rem;
  text-align: center;
}

/* #endregion main */

/* #region show_event */
.event_text {
  padding: 1rem;
}

.hour_date {
  color: #dddddd;
}

.event_button {
  border: none;
  padding: 1rem;
  color: white;
  background: #0057ff;
  border-radius: 10px;
  width: 80%;
  margin-bottom: 1rem;
}

/* #endregion show_event */

.event {
  width: 25%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* #region modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.modal_button {
  border: none;
  padding: 1rem;
  color: white;
  border-radius: 10px;
}

#confirmDelete,
#confirmLogout {
  background-color: var(--danger_color);
}

#cancelDelete,
#cancelLogout {
  background-color: var(--main_color);
}
/* #endregion modal */

@media screen and (max-width: 540px) {
  .flex_sm_events {
    flex-direction: column;
    align-items: center;
  }
  .event {
    width: 50%;
  }
}
