/* #region general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: DM Sans;
  height: 100vh;
}

/* #endregion general */

/* #region utilities */
/* todo: create a root */
.bg_white {
  background-color: white;
}

.d_flex {
  display: flex;
}

.flex_column {
  flex-direction: column;
}

.align_items_center {
  align-items: center;
}

/* #endregion utilities */

/* #region header */
.app_header {
  height: 80px;
}

.logo {
  height: 60%;
  padding-left: 1rem;
}

.logo img {
  max-height: 100%;
}

.text_bold {
  font-weight: 700;
}

.px_2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* #endregion header */

/* #region login_main */
.login_box {
  width: 662px;
  height: 434px;
  border: 1px solid black;
  margin: auto;
  border-radius: 20px;
}

.login_title {
  color: #134077;
  text-align: center;
  font-style: normal;
  line-height: 99.5%;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.login_input {
  margin-top: 1rem;
  border: none;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.login_label {
  margin-top: 2rem;
}

.input_submit {
  margin-top: 3rem;
  border: none;
  padding: 1rem;
  color: white;
  background: #0057ff;
  border-radius: 10px;
}

.box_footer {
  margin-top: 3rem;
  text-align: center;
}

/* #endregion login_main */
